.w_input {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
}
.p_create {
  opacity: 0.9;
  font-size: 1rem;
  line-height: 22px;
  color:#ffff;
  margin-top:-1rem;
  margin-left:1rem;
}

.section_title {
  color:#ffff;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  margin-bottom:1rem;
}

.team_form {
  display: flex;
  align-items: stretch;
}

.big_image {
  display: flex;
  width: 100%;
  height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  background-color: #070f0f;
}

.form_block {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.create_team_section {
  display: block;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 750px;
  margin-top: 0px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #13111A;
  text-align: left;
}

.border_gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
}

.button {
  margin-left:6.5rem;
  padding: 13px 22px;
  border-radius: 0px;
  background-color: #3b2ae5;
  transition: all 200ms ease;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-transform: none;
}

.button:hover {
  opacity: 0.8;
}

.w_button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.join_create_btn {
  display: inline-block;
  margin-left:1rem;
  padding: 13px 22px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-transform: none;
}

.button {
  border: none;
  display: inline-block;
  border-radius: 99px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 17px 35px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.button:before, 
.button:after {
  content: ' ';
  position: absolute;
  border-radius: 99px;
}

.button:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #503b9a;
  background: -moz-linear-gradient(left, #743ad5 0%, #d53a9d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#743ad5), color-stop(100%,#d53a9d));
  background: -webkit-linear-gradient(left, #743ad5 0%,#d53a9d 100%);
  background: -o-linear-gradient(left, #743ad5 0%,#d53a9d 100%);
  background: -ms-linear-gradient(left, #743ad5 0%,#d53a9d 100%);
  background: linear-gradient(to right, #743ad5 0%,#d53a9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#743ad5', endColorstr='#d53a9d',GradientType=1 );
}

.button:after {
  top: 2px; 
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: black;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.button:hover:after {
  opacity: 0;
}

.join_create_btn:hover {
  opacity: 0.8;
}

.join_create_btn.join_btn {
  width: 100%;
}

.join_btn{
  margin-left:6rem;
}

.or_form {
  margin:auto;
}

.form_block {
  margin: 0 0 15px;
}

.create_team_h1 {
  margin-bottom: 10px;
  color: #3b2ae5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
}

.pending_btn{
  margin-left:.5rem;
}

.h1_create {
  margin-left:15.5rem;
  margin-bottom:1rem;
  margin-top: 0px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}

.input_team {
  background-color:#13111A;
  border-radius:1rem;
  width:38rem;
  height: 3.5rem;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 1rem;
  line-height: 22px;
}

.input_team:focus{
  outline: none;
}



@media screen and (max-width: 767px) {
  .big_image {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {

  .join_create_btn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:6rem;
    font-size:.8rem;
    height:3rem;
  }

  .join_btn{
    width:10rem;
    margin:auto;
  }
  .form_block {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .or_form {
    font-size: 35px;
    line-height: 28px;
  }

  .h1_create {
    font-size: 1rem;
    margin-left:6.8rem;
    margin-top:.5rem;
  }

  .input_team {
    font-size: 12px;
    width:15rem;
  }

  .or_form{
    font-size:1.2rem;
    margin-right:11rem;
    margin-top:.5rem;
  }
  .section_title{
    font-size:1.2rem;
    margin-left:.5rem;
  }

  .create{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:1rem;
    width:5rem;
  }

  .p_create{
    margin-left:.5rem;
  }
}

@media screen and (max-width: 400px) {

  .big_image{
    margin-top:2rem;
    margin-bottom:2rem;
  }
  .join_create_btn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:6rem;
    font-size:.8rem;
    height:3rem;
  }

  .join_btn{
    width:10rem;
    margin:auto;
  }
  .form_block {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .or_form {
    font-size: 35px;
    line-height: 28px;
  }

  .h1_create {
    font-size: 1rem;
    margin-left:5.5rem;
    margin-top:.5rem;
  }

  .input_team {
    font-size: 12px;
    width:13rem;
  }

  .or_form{
    font-size:1.2rem;
    margin-right:9.5rem;
    margin-top:.5rem;
  }
  .section_title{
    font-size:1.2rem;
    margin-left:.5rem;
  }

  .create{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:1rem;
    width:3.5rem;
  }

  .p_create{
    margin-left:.5rem;
  }
}
