* {
  box-sizing: border-box;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #070f0f;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #070f0f;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
button {
  text-transform: none;
  cursor: pointer;
  overflow: visible;
}

input {
  line-height: normal;
}

/* .Teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.Cards {
  flex-basis: 22.5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.Cards > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.Cards > h3 {
  color: black;
  font-weight: 100;
  font-size: 10px;
  margin: 0%;
  text-align: center;
}

.info-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-group > img {
  height: 11px;
  text-align: center;

}

.info-group > p {
  margin-block: 1px;
  font-size: 10px;
  color: #2b283a;
  text-align: center;
}

button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 10px;
  color: #ffffff;

  width: 200px;
  height: 50px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 100px;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
} */
