.body {
  margin: 0px;
  padding-top: 0px;
  border: 0px solid transparent;
  overflow: hidden;
}
.sec_1 {
  display: block;
  position: relative;
  height: auto;
  min-height: 85vh;
  margin-top: 5vh;
  margin-left: -200px;
  padding-top: 0vh;
  align-items: baseline;
  border-radius: 0px;
  background-color: #070f0f;
}

.first_grad {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -10px;
  display: block;
  justify-content: flex-end;
  object-fit: fill;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: 10%;
  bottom: 0%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

.grad {
  position: static;
}

.get_in_gradient {
  position: absolute;
  right: 0px;
  bottom: 10px;
  display: block;
  margin-top: 60px;
  margin-left: 50px;
  padding-left: 0px;
  object-position: 0% 50%;
}

.fp_big {
  width: 530px;
  height: 480px;
  position: absolute;
  left: 20vw;
  top: 10vh;
}

.p_logo {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  margin-right: 0px;
  margin-left: 32px;
}

.date_img {
  position: absolute;
  left: -195px;
  top: 35%;
  right: 0%;
  bottom: auto;
  width: 240px;
  height: 240px;
  margin-top: 110px;
  margin-right: 0px;
  margin-left: 20vw;
  object-fit: fill;
}

.fp_heading {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 31.7vw;
  padding-top: 15vh;
  padding-bottom: 20px;
  font-family: sans-serif;
  color: #fff;
  font-weight: 700;
}

.main_para {
  width: 530px;
  color: #fff;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 30px;
}

.date_div {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.getin {
  position: relative;
  max-width: 100%;
  margin-right: -200px;
}

.sec_2 {
  position: relative;
  height: auto;
  min-height: 100vh;
  background-color: #070f0f;
  border: none;
}

.legs_wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.gradient_r {
  margin-right: -13px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  cursor: posans-serif;
}

.legs {
  position: absolute;
  left: auto;
  top: auto;
  right: 10%;
  bottom: auto;
  max-width: 70%;
  margin-right: -13px;
  object-fit: fill;
}

.sec_3 {
  position: relative;
  min-height: 100vh;
  border: none;
  background-color: #070f0f;
}

.grad_3_r {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.rectangle {
  display: flex;
  width: 75vw;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  border-color: #ce4da4;
  border-radius: 45px;
}

.about_wrapper {
  position: static;
  z-index: 4;
  display: flex;
  margin-left: 0px;
  padding-top: 250px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
}

.about_heading {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
}

.about_text {
  max-width: 500px;
  margin-left: 40px;
}

.about_para {
  margin-top: 40px;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 25px;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: #fff;
}

.image_10 {
  margin-left: 140px;
  width: 400px;
}

.line_team {
  display: block;
  width: 0px;
  height: 208px;
  margin-top: -19px;
  padding-top: 0px;
  flex-direction: row;
  border: 1px solid #413c3c;
}

.line_container {
  display: flex;
  width: 75vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
}

.sec_4 {
  position: relative;
  height: auto;
  min-height: 50vh;
  border: none;
  background-color: #070f0f;
}

.image_11 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.div_img {
  margin-bottom: 10px;
}

.div_head {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.div_para {
  max-width: 250px;
  color: #fff;
  font-size: 18px;
}

.skills_card {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  flex-direction: column;

  align-items: center;
}

.card_container {
  display: flex;
  margin-right: 120px;
  margin-left: 120px;
  justify-content: space-around;
}

.image_12 {
  width: 104px;
  height: 104px;
}

.image_13 {
  width: 104px;
}

.image_14 {
  width: 104px;
  height: 104px;
}

.sec_5 {
  position: relative;
  height: auto;
  min-height: 85vh;
  border: none;
  background-color: #070f0f;
}

.story_error {
  display: flex;
  margin-right: 100px;
  margin-left: 140px;
}

.story_img_div {
  margin-left: 0px;
}

.story_img {
  width: 350px;
}

.story_text_cont {
  width: 600px;
  position: absolute;
  right: 10vw;
  top: 10vh;
}

.story_h1 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;
  text-align: center;
}

.story_p {
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 40px;
  color: #ffffff;
}

.story_gradient {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.sec_6 {
  position: relative;
  min-height: 100vh;
  border: none;
  background-color: #070f0f;
}

.spon_grad_l {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.sponsors_h1 {
  display: block;
  width: 100vw;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.spon_grad_r {
  position: absolute;
  left: auto;
  top: 15%;
  right: 0%;
  bottom: 0%;
}

.footer_section {
  position: relative;
  bottom: 0;
  min-height: 40vh;
  padding-right: 40px;
  padding-left: 40px;
  border: none;
  background-color: #070f0f;
}

.footer_img {
  max-width: 80%;
  margin-left: 40px;
}

.profiles {
  margin-left: 48rem;
  margin-top: -5.5rem;
  margin-right: 1rem;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-right: 3rem;
}
.title {
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  color: #ffff;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.zoom {
  transition: transform 0.2s;
  height: 2em;
  width: 2em;
  margin-top: 0.5rem;
}

.zoom:hover {
  transform: scale(1.5);
}
.line_footer {
  display: inline-block;
  width: 900px;
  margin-bottom: 35px;
  border-style: none none solid;
  border-width: 1px 1px 5px;
  border-color: #4b4949;
  border-radius: 0px;
}

.foot_col_1 {
  display: flex;
  align-items: flex-end;
}

.link_container {
  display: flex;
  width: 70px;
  margin-bottom: -108px;
  flex-direction: column;
  align-items: center;
}

.link_div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact_text {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.contact_card {
  margin-top: 10px;
  margin-left: 60px;
}

.contact_card_container {
  display: inline-block;
  margin-top: -50px;
  flex-direction: column;
}

.footer_pages {
  display: flex;
  margin-left: 256px;
  flex-direction: column;
}

.link_page {
  margin-bottom: -54px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.count {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #5e5b71;
  color: #ffff;
  padding: 0.8rem;
  align-items: center;
}
.countText {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.6rem;
}

.countContainer {
  font-size: 0.8rem;
  margin-bottom: 8rem;
  margin-left: 8rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;
  margin-top: -2rem;
  text-align: center;
}
.page_container {
  display: flex;
  width: 50vw;
  margin-top: 57px;
  justify-content: center;
}

.footer_pages_2 {
  display: flex;
  margin-top: -37px;
  margin-left: 40px;
  flex-direction: column;
}

.round_imgparts {
  margin-right: 40px;
  margin-left: 40px;
}

.round_imgparts_container {
  display: flex;
  width: 75vw;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.img_container {
  position: relative;
}

.round_text {
  position: absolute;
  left: 0px;
  top: 40%;
  right: 3%;
  bottom: auto;
  display: block;
  width: 110px;
  height: auto;
  margin: 0px auto 86px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  text-align: center;
}

.body {
  margin: 0px;
  padding-top: 0px;
  border: 0px solid transparent;
}

.fp_main_div {
  position: absolute;
  left: 10px;
}

.logo_text {
  display: block;
  margin-right: 0vw;
  align-items: baseline;
}

.main_text {
  position: absolute;
  right: 0px;
  /* top: 20vh; */
  /* left: 53%; */
}

.abt_img {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

@media screen and (max-width: 991px) {
  .image {
    max-width: 100%;
  }

  .get_in_gradient {
    margin-top: -51px;
    margin-left: 7vw;
  }

  .p_logo {
    width: 227px;
    margin-top: 0px;
    margin-left: 41px;
  }

  .date_img {
    width: 108px;
    height: 108px;
    margin-top: 40px;
    margin-left: 28.6vw;
  }

  .fp_heading {
    padding-top: 10vh;
  }

  .main_para {
    width: 300px;
    margin-top: -89px;
    margin-right: 0px;
    margin-left: -22px;
    padding-right: 20px;
  }

  .getin {
    margin-left: 0px;
  }

  .gradient_r {
    max-width: 572px;
  }

  .rectangle {
    width: 80vw;
  }

  .about_text {
    margin-right: 10px;
    margin-left: 10px;
  }
  .legs {
    max-width: 69%;
    margin-right: -8px;
  }

  .image_10 {
    margin-left: 10px;
  }

  .line_container {
    width: 80vw;
  }

  .div_para {
    font-size: 14px;
  }

  .card_container {
    padding-bottom: 40px;
  }

  .sec_5 {
    padding-top: 40px;
  }

  .story_img_div {
    margin-right: 44px;
  }

  .story_h1 {
    font-size: 40px;
    line-height: 66px;
  }

  .story_p {
    font-size: 13px;
    line-height: 24px;
  }

  .story_img {
    max-width: 185%;
    margin-left: -35px;
  }

  .footer_img {
    margin-right: 73px;
    margin-left: -16px;
  }

  .line_footer {
    margin-right: 10px;
    margin-left: 10px;
  }

  .contact_img {
    margin-left: -67px;
  }

  .round_imgparts {
    max-width: 60%;
  }

  .round_imgparts_container {
    width: 80vw;
  }

  .img_container {
    display: block;
    flex-direction: column;
  }

  .round_text {
    left: 10px;
    top: 28%;
    width: 64px;
    font-size: 15px;
    text-align: center;
  }

  .logo_text {
    margin-right: 100px;
  }

  .main_text {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .profiles {
    margin-top: -5.5rem;
    margin-right: 50rem;
  }

  .team {
    display: flex;
    flex-direction: row;
    /* margin-right:50rem; */
  }
  /* .zoom{
    margin-right:50rem;
  } */
  .title {
    color: #ffff;
    font-family: Poppins, sans-serif;
    font-size: 0.5rem;
  }

  .zoom {
    transition: transform 0.2s;
    height: 1.5em;
    width: 1.5em;
    margin-top: 0.5rem;
  }

  .sec_1 {
    outline-color: #333;
    outline-offset: 0px;
    outline-style: none;
  }

  .image {
    display: none;
  }

  .get_in_gradient {
    max-width: 40%;
    margin-left: 22.2vw;
  }

  .fp_big {
    width: 530px;
    height: 480px;
    position: absolute;
    margin: auto;
    top: 10vh;
  }

  .date_img {
    margin-left: 50.8vw;
  }

  .fp_heading {
    margin-left: 54vw;
  }

  .main_para {
    width: 456px;
    margin-top: 200px;
    margin-left: 184px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
  }

  .date_div {
    flex-direction: row;
  }

  .sec_2 {
    height: auto;
    min-height: 100vh;
  }

  .gradient_r {
    max-width: 217px;
  }

  .legs {
    display: none;
  }

  .sec_3 {
    display: block;
    height: auto;
    min-height: 100vh;
  }

  .rectangle {
    width: 90vw;
  }

  .about_wrapper {
    padding-top: 40px;
    flex-direction: column;
  }

  .about_heading {
    line-height: 40px;
  }

  .about_text {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .about_img {
    margin-right: auto;
    margin-left: auto;
  }

  .round_img {
    position: relative;
    z-index: 3;
    width: 15px;
  }

  .line_container {
    width: 90vw;
  }

  .sec_4 {
    height: auto;
    min-height: 100vh;
  }

  .div_para {
    margin-bottom: 20px;
  }

  .card_container {
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
  }

  .sec_5 {
    height: auto;
    min-height: 100vh;
  }

  .story_error {
    margin-right: 60px;
    margin-left: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .story_text_cont {
    width: 480px;
    margin-right: 10px;
    margin-left: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .story_h1 {
    width: 100vw;
    margin-right: 0px;
    margin-left: -79px;
    padding-top: 60px;
    text-align: center;
  }

  .story_p {
    margin-right: 40px;
    padding-top: 20px;
    position: relative;
    right: 100px;
  }

  .sec_6 {
    height: auto;
    min-height: 100vh;
    padding-left: 0px;
  }

  .sponsors_h1 {
    display: block;
    width: 100vw;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    font-size: 70px;
    line-height: 67px;
    text-align: center;
  }

  .footer_section {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 80vh;
  }

  .footer_img {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .line_footer {
    overflow: hidden;
    width: 100vw;
    margin-top: 57px;
    padding-bottom: 6px;
  }

  .foot_col_1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link_container {
    position: sticky;
    width: 100vw;
    margin-right: auto;
    margin-bottom: -80px;
    margin-left: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .link_div {
    margin-right: 60px;
  }

  .contact_text {
    font-size: 15px;
  }

  .contact_card {
    margin-left: 95px;
  }

  .contact_card_container {
    display: flex;
    width: 90vw;
    margin: -280px auto 95px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .footer_pages {
    margin-left: 0px;
  }

  .link_page {
    margin-top: 0px;
    margin-bottom: -50px;
  }

  .page_container {
    width: 90vw;
    margin-top: 162px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_pages_2 {
    margin-top: 60px;
    margin-left: 0px;
  }

  .round_imgparts {
    max-width: 68%;
    margin-left: 6px;
  }

  .round_imgparts_container {
    width: 90vw;
  }

  .round_text {
    left: -20px;
    top: 20%;
    right: 3%;
    width: 51px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  .fp_main_div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo_text {
    margin-right: 57px;
  }
}

@media screen and (max-width: 479px) {
  .countContainer {
    margin-right: 5.9rem;
    margin-bottom: 3rem;
  }
  .grad {
    object-fit: fill;
    margin-bottom: -125px;
    display: none;
  }
  .sec_1 {
    min-height: 100vh;
  }

  .about_para {
    width: 300px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25em;
    text-align: center;
    line-height: 20px;
  }
  .image_10 {
    margin-left: 50px;
    width: 350px;
  }

  .story_img {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
  }

  .sub_sec_3 {
    margin-left: 40px;
  }

  .fp_big {
    width: 350px;
    height: 60vh;
    position: absolute;
    margin: auto;
    top: 5vh;
    left: 33%;
  }

  .get_in_gradient {
    position: absolute;
    left: 130px;
    bottom: 35%;
    max-width: 25%;
    margin-top: 178px;
    margin-left: 25.4vw;
  }

  .p_logo {
    width: 300px;
    margin-left: 20%;
  }

  .date_img {
    width: 80px;
    height: 80px;
    margin-left: 66.7vw;
  }

  .fp_heading {
    margin-left: 54vw;
    padding-right: 40px;
    padding-left: 70px;
    font-size: 24px;
    line-height: 40px;
  }

  .main_para {
    width: 285px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    text-align: center;
    line-height: 20px;
  }

  .getin {
    margin-left: 13px;
  }

  .gradient_r {
    margin-right: 0px;
    display: none;
  }

  .sec_3 {
    padding-bottom: 140px;
  }

  .grad_3_r {
    max-width: 65%;
  }

  .rectangle {
    width: 21px;
    height: 580px;
    margin-left: 40px;
    flex-direction: column;
  }

  .about_wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }

  .about_heading {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .line_team {
    width: 110px;
    height: 0px;
    margin-top: -108px;
  }

  .line_container {
    width: 38px;
    height: 580px;
    margin-top: -525px;
    margin-left: 44px;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  .image_11 {
    max-width: 65%;
  }

  .skills_card {
    margin-top: 20px;
  }

  .sec_5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .story_error {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .story_text_cont {
    width: 200px;
    position: relative;
    top: -60px;
  }

  .story_h1 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  .story_p {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 250px;
    position: relative;
    right: 5vw;
  }

  .story_gradient {
    max-width: 65%;
  }

  .spon_grad_l {
    max-width: 65%;
  }

  .sponsors_h1 {
    padding-top: 40px;
    font-size: 44px;
    line-height: 60px;
  }

  .spon_grad_r {
    max-width: 65%;
  }

  .footer_section {
    min-height: 60vh;
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer_img {
    margin-bottom: 10px;
  }

  .line_footer {
    width: 100vw;
    margin-bottom: 25px;
    padding-top: 6px;
  }

  .link_container {
    justify-content: center;
    align-items: center;
  }

  .link_div {
    min-width: 20px;
    margin-right: 35px;
  }

  .contact_text {
    font-size: 12px;
  }

  .contact_card {
    margin-left: 79px;
  }

  .contact_card_container {
    width: 80vw;
    margin-top: -300px;
    padding-left: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-align: center;
  }

  .round_imgparts {
    max-width: 52%;
    margin-left: 0px;
  }

  .round_imgparts_container {
    width: 0vw;
    height: 580px;
    margin-top: -622px;
    margin-left: 133px;
    flex-direction: column;
  }

  .img_container {
    min-width: 144px;
  }

  .round_text {
    /* left: 0px; */
    left: -70px;
    top: 30px;
    /* margin-top: 10px; */
    /* padding-right: 80px; */
    font-size: 5px;
    text-align: center;
    line-height: 10px;
  }

  .fp_main_div {
    margin-right: 10px;
    margin-left: 10px;
  }

  .main_text {
    position: absolute;
    /* bottom: 5vh; */
    bottom: 0vh;
    top: auto;
    /* left: 63vw; */
    left: 50vw;
    text-align: center;
    height: fit-content;
  }
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -40vh; /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 40vh; /* '.push' must be the same height as 'footer' */
}

.footer {
  border: 1px solid #ff00ff;
}

@media screen and (max-width: 400px) {
  .countContainer {
    margin-left: 6rem;
    margin-bottom: 0rem;
    position: absolute;
    margin-top: -5rem;
  }
  .count {
    min-height: 2rem;
    min-width: 5rem;
    padding: 0.4rem;
  }
  .main_para {
    position: absolute;
    margin-top: -20rem;
    font-size: 1rem;
    margin-left: 3rem;
  }
}
