.w_button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.75em;
  line-height: 1.8em;
  font-weight: 700;
}
/*
h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
} */

.div-block {
  min-height: 100vh;
}

.round_page {
  display: flex;
  min-height: 100vh;
  margin-left: 0px;
  margin-top: 8vh;
  padding-left: 100px;
  justify-content: space-around;
  align-items: center;
}

.profile_div {
  display: flex;
  width: 30vw;
  height: 80vh;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 19px;
  background-color: #13111a;
}

.instructions_div {
  position: relative;
  display: flex;
  width: 55vw;
  min-height: 80vh;
  min-width: 55vh;
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px 20px 20px 100px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 19px;
  background-color: #13111a;
}

.starting {
  padding: 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.button_2 {
  padding: 20px;
  border-radius: 20px;
  background-color: #5e5b71;
}

.line {
  width: 100%;
  max-height: 10px;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fcfcfc;
}

.profile_container {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profile_card {
  display: flex;
  margin: 20px auto 0px;
  justify-content: space-around;
  align-items: center;
}

.name {
  display: block;
  max-width: 180px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.nam {
  display: block;
}

.text_block {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 1.5em;
  line-height: 1em;
}

.para {
  height: auto;
  max-width: 40vw;
  color: #fff;
  font-size: 1em;
  line-height: 25px;
}

.round_instruction {
  margin-bottom: 0px;
  padding-bottom: 100px;
}

.start_btn {
  position: absolute;
  overflow: hidden;
  left: auto;
  top: auto;
  right: -14%;
  bottom: 0px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.image {
  max-width: 50%;
}

.div-block-2 {
  width: 290px;
}

.btn_text {
  display: none;
  margin: -15% auto auto;
  padding-left: 40px;
  color: #fff;
  text-align: left;
  overflow: hidden;
  overflow: none;
  margin-right: 160px;
}

.image_2 {
  max-width: 60%;
  border-radius: 200px;
}

.image-3 {
  max-width: 60%;
}

.image-4 {
  max-width: 60%;
}

.image-5 {
  max-width: 60%;
}

.btn_txt {
  display: block;
  margin: -18% 0px auto auto;
  padding: 0px 0px 0px 40px;
  background-color: transparent;
  overflow: hidden;
}

.boy {
  overflow: hidden;
  background-color: #070f0f;
  background-image: url("/maingrad.svg");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1920px) {
  .round_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .profile_div {
    display: flex;
    width: 30vw;
    height: 80vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: #fffdfd;
    border-radius: 19px;
    background-color: #13111a;
  }

  .instructions_div {
    display: flex;
    height: 80vh;
    min-width: 60vw;
    margin-right: auto;
    padding-left: 140px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-style: solid;
    border-width: 3px;
    border-color: #fee;
    border-radius: 19px;
    background-color: #13111a;
  }

  .starting {
    display: block;
    font-size: 40px;
    text-align: center;
  }

  .heading {
    color: #fffefe;
  }

  .button_2 {
    padding: 40px;
    border-radius: 20px;
    background-color: #5e5b71;
  }

  .line {
    width: 100%;
    max-height: 10px;
    margin-top: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0px;
  }

  .profile_container {
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile_card {
    display: flex;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
  }

  .name {
    color: #fff;
    font-size: 3.3em;
    line-height: 48px;
  }

  .nam {
    padding-left: 40px;
  }

  .text_block {
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }

  .para {
    height: auto;
    max-width: 40vw;
    color: #fff;
    font-size: 2.4em;
    line-height: 1em;
  }

  .start_btn {
    right: 1%;
    margin-top: -50px;
    margin-bottom: 40px;
    text-align: center;
  }

  .image {
    max-width: 100%;
  }

  .div-block-2 {
    width: 290px;
    text-align: left;
  }

  .btn_text {
    width: 290px;
    margin: -30% auto auto;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }

  .image_2 {
    min-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .para {
    font-weight: lighter;
    font-size: 0.85em;
  }
}
