.button {
  width: auto;
  height: 3rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-gradient {
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(10deg, #ffaa00, #ff6a00); */
}

.member_container {
  display: flex;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
  padding: 20px 10px 0px;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-radius: 6px;
  min-height: 18rem;
  margin-top: 1rem;
}

.green-gradient {
  background: linear-gradient(15deg, #1c3147, #1c3147);
}

.new-gradient {

}

.pink {
  color: #c273ff;
}

.gray {
  color: #666666;
}

.light-blue {
  color: #00b7ff;
}

.modal-button {
  position: relative;
  bottom: 1.5rem;
  padding: 0 3rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: #101315;
  color: #eeeeee;
}

.save-button {
  padding: 0 1rem;
  /* margin: 2rem auto auto 0; */
  /* background: linear-gradient(10deg, #ffaa00, #ff6a00); */
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: -20px -50px;
  position: relative;
  top: 70%;
  left: 47%;
}

.close-button {
  padding: 0 2rem;
  height: 2.5rem;
  margin: 2rem 1rem 1rem 1rem;
  background: #ffffff;
  /* border: 1px dashed #9a9a9a99; */
  color: white;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 1px 1px 15px #03030399;
}

.input {
  width: calc(100vw - 5rem);
  height: 3rem;
  margin: 0 auto 0 0;
  padding: 0.25rem 0.5rem;
  outline: none;
  background: #101315;
  border: 2px solid #ff9d00;
  border-radius: 6px;
  color: #ff9d00;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  width: 50vw;
  height: 50%;
  margin: auto;
}

.ul,
.li {
  padding: 0;
  margin: 0;
}

.ul {
  position: fixed;
  bottom: 0.5rem;
  right: 0;
  top: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottom {
  justify-content: flex-end;
}

.top {
  justify-content: flex-start;
}

.li {
  width: 225px;
  margin: 0.5rem 1.5rem;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

.notification-text {
  margin: auto auto auto 0;
  padding: 0;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-family: "Montserrat", sans-serif;
}

.add-button {
  padding: 0 1rem;
  margin: 2rem auto auto 0;
  background: linear-gradient(15deg, #04ea00, #00d17d);
  color: #101315;
}

.close {
  height: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
  color: black;
}

.close svg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.sub-header {
  margin: 1rem auto 1rem 0;
  color: #9e9e9e;
}

@media screen and (min-width: 960px) {
  .button {
    cursor: pointer;
  }
  .input {
    width: calc(25vw);
  }
  .h1 {
    color: #ff9d00;
    font-size: 250%;
  }
}
