/* * {
  box-sizing: border-box;
} */

.Home {
  background-color: #070f0f;
}
.SearchBar{
  margin: auto;
  width: 33.33%;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
  padding: 10px;
  justify-content: center;
}

.images {
  position: absolute;
  opacity: 0.4;
}

.Teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.buttonPlacer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.Cards {
  flex-basis: 22.5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  /* border-color: pa;
    border-radius: 10px; */
  /* border: 10px;
    border-color: white; */
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 20px;
  background-color: #13111a;
  /* background-image: linear-gradient(to right top, #070f0f, #001f27, #002e46, #003a68, #004187, #2a3f8c, #443d8f, #5a3890, #5c3382, #5b2e75, #592a68, #56275c); */
}
.border_gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
}
.Cards > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.Cardsh3 {
  margin: 0;
  min-height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.info-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-group > img {
  height: 11px;
  text-align: center;

  /* margin-left: auto; */
  /* margin-right: auto; */
}

.info-group > p {
  margin-block: 1px;
  font-size: 10px;
  color: white;
  text-align: center;
}

.button:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.button2 {
  margin-top: 10px;
  position: relative;
  background-color: cyan;
  /* margin: 20p; */
  border: 20p;
  font-size: 10px;
  color: black;
  /* padding: 20px; */
  width: 300px;
  height: 53px;
  text-align: center;
  font-weight: 1000;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button2:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button2:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.glow_on_hover {
  margin-top:1rem;
  margin-left:6rem;
  width: 8rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow_on_hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow_on_hover:active {
  color: #000
}

.glow_on_hover:active:after {
  background: transparent;
}

.glow_on_hover:hover:before {
  opacity: 1;
}

.glow_on_hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}