/* * {
  box-sizing: border-box;
} */

.Home {
  background-color: #070F0F;
  
}
.images{
  position: absolute;
  opacity: 0.4;  
}
  
  .Teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .buttonPlacer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

  }
  
  .Cards {
    flex-basis: 22.5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    /* border-color: pa;
    border-radius: 10px; */
    /* border: 10px;
    border-color: white; */
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 20px;
    background-color: #13111A;
    /* background-image: linear-gradient(to right top, #070f0f, #001f27, #002e46, #003a68, #004187, #2a3f8c, #443d8f, #5a3890, #5c3382, #5b2e75, #592a68, #56275c); */
  }
  .border_gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
  }
  .Cards > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .Cardsh3 {
    margin: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-weight: 100;
    text-align: center;

    
  }
  
  .info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .info-group > img {
  
    height: 11px;
    text-align: center;
  
     /* margin-left: auto; */
     /* margin-right: auto; */
    
  }
  
  .info-group > p {
    margin-block: 1px;
    font-size: 10px;
    color: white;
    text-align: center;
    
  }
  
  .button {
    position: relative;
    background-color: #181620;
    opacity: 0.8;
    border: 10px solid transparent;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
    border-radius: 15px;
    font-size: 10px;
    color: #FFFFFF;
    width: 300px;
    height: 53px;
    text-align: center;
    font-weight: bolder;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .button:hover{
    background: linear-gradient(45deg,red,blue) border-box; /*3*/
    border-radius: 15px;

  }
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    border-radius: 15px;  padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .button2 {
    margin-top: 10px;
    position: relative;
    background-color: cyan;
    /* margin: 20p; */
    border: 20p;
    font-size: 10px;
    color: black;
    /* padding: 20px; */
    width: 300px;
    height: 53px;
    text-align: center;
    font-weight: 1000;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button2:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }