/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
} */
  
  .Teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
  }
  
  .Cards {
    flex-basis: 22.5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
  }
  
  .Cards > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .Cards > h3 {
    font-weight: 100;
    font-size: 10px;
    margin: 0%;
    text-align: center;
    
  }
  
  .info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .info-group > img {
  
    height: 11px;
    text-align: center;
  
     /* margin-left: auto; */
     /* margin-right: auto; */
    
  }
  
  .info-group > p {
    margin-block: 1px;
    font-size: 10px;
    color: #2B283A;
    text-align: center;
    
  }
  
  .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: auto;
    height: 10p;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }